<%= form_for @new_comment do |f| %>
  <%= f.hidden_field :topic_id, value: @new_comment.commentable_id %>
  <%= f.hidden_field :topic_id, value: @new_comment.commentable_type %>
  <div class="field">
    <%= f.text_field :content, placeholder: "内容", class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit 'コメント投稿', class: 'btn btn-primary btn-md' %>
  </div>
<% end %>

<%= form_for([topic,comment], remote: true) do |f| %>
  <%= f.hidden_field :topic_id %>
  <div class="field">
    <%= f.text_field :content, placeholder: "内容", class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit 'コメント投稿', class: 'btn btn-primary btn-md' %>
  </div>
<% end %>