<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1>ユーザー一覧</h1>
      <% @users.each do |user| %>
      <div class="row user_box">
        <div class="col-md-2">
        <div class="icon">
        	<%= profile_img(user) %>
        </div>
        </div>
        <div class="col-md-5">
        <%= link_to user_path(user.id) do %>
          <h4><%= user.name %></h4>
          <% if user.name.blank? %>
            <h4>NO_NAME</h4>
          <% end %>
        <% end %>
        <h6><%= user.email %></h6>
        </div>
        <% if user.id != current_user.id %>
          <div class="col-md-3">
            <h4><%= render partial: 'follow_form', locals: { user: user } if signed_in? %></h4>
          </div>
          <div class="col-md-2">
            <h4><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: "btn btn-large btn-default" %></h4>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <%= link_to '投稿一覧', topics_path, class: 'btn btn-default btn-md' %>
</div>
